*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --black-card: #252d37;
}

body{
    font-family: 'Overpass', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121417;
    
}

main,
.tnxSec{
    width: 85%;
    padding: 32px;
    background-color: var(--black-card);
    width: 24rem;
    border-radius: 1rem;
}

.star-section > img{
    display: block;
    padding: 16px;
    background-color: #121417;
    border-radius: 50%;
}

div.text-section{
    margin-top: 15px;
}

h1{
    font-size: 25px;
    font-weight: bold;
    background-color: var(--black-card);
    color: white;
    font-family: 'Overpass', sans-serif;
}

p{
    line-height: 1.6rem;
}

p,
a{
    color: #959eac;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.mt{
    margin-top: 24px;
}

.rating-nums{
    display: flex;
    justify-content: space-between;
}

.rating-nums li a{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #121417;
    transition: all 0.3s ease-out;
}

.rating-nums li a:hover{
    background: #7c8798;
    color: white;
}

.rating-nums li a:focus-within{
    background: #fb7413;
    color: white;
}

.submit{
    font-weight: bold;
    display: inline-block;
    width: 100%;
    cursor: not-allowed;
    padding: 16px;
    background: #fb7413;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: none;
    border-radius: 32px;
    transition: background 0.3s ease-out;
}

.submit:hover{
    background: white;
    color: #fb7413;
}

/** Thanl you section **/

.tnxSec{
    text-align: center;
}

.tnx-img img{
    display: block;
    width: auto;
    margin-inline: auto;
}

.tnx-message{
    background: #121417;
    padding: 16px;
    border-radius: 32px;
}

.tnx-message p{
    color: #fb7413;
}

.hidden{
    display: none;
}

.show-section{
    display: block;
}

/** Creator section*/

.creator{
    position: fixed;
    bottom: 50px;
}

.creatorA{
    color: white;
    font-size: 18px;
    font-weight: bold;
}